* {
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
}

table{
	border-collapse: collapse;
	width: 275px;
	box-shadow: 5px 10px 18px #628ca6;
}

main {
 
}

thead tr {
	height: 50px;
}

thead {
	font-size: 25px;
	
}

thead tr td {
	background-color: #7fb9c2;
	font-weight: bold;
}

tfoot tr td {
	background-color: #7fb9c2;
	font-size: 12px;
}

tbody tr:nth-child(even) td {
	background-color: #e7f0ed;
}

tbody tr:nth-child(odd) td {
	background-color: #e7ffed;
}

tbody tr:first-child td {
	background-color: #628ca6;
	color: white;
	font-weight: bold;
	letter-spacing: 1px;
}

tbody tr:nth-child(5) td:nth-child(3) {
	background-color: #628ca6;
	color: white;
}

tbody tr:nth-child(6) td:nth-child(1) {
	font-style: italic;
}

tr, th, td {
	border: 0.5px solid lightGrey;
	padding: 6px;
}