@media only screen and (min-width: 64em) {

	main {
		width: 65%;
	}

	.headertitle {
		font-size: 35pt;
	}

	nav ul {
		justify-content: center;
	}

	nav ul li {
		margin: 0% 2%;
	}

	/*	Grid layout for gallery */
	.gallery-display, .city_display {
		grid-template-columns: 1fr 1fr 1fr;
	}
	
	.articles{
	grid-template-columns: 1fr;
	}
	
	.contact, .footer-bar {
	width: 65%;
	
}
}

