/* Main  -----------------------------------------------------------------------------------------------------------------------------------  */

* {
	margin: 0px;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: 'Oxygen', sans-serif;
}

main {
	font-family: 'Oxygen', sans-serif;
	width: 80%;
	max-width: 1000px;
	margin: 0 auto 100px auto;
}

footer {
	height: 10px;
}

h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 28pt;
	text-align: center;
	margin: 45px;
	margin-top: 65px;
}

h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 28pt;
	text-align: center;
	margin: 45px;
	margin-top: 65px;
}

h3 {
	padding: 42px 0px 15px 0px;

}

p {
	margin: 2px;
	padding: 0px 0px 20px 0px;
	line-height: 28px;
	font-size: 13pt;
}

ol {
	padding: 15px 65px;
	line-height: 28px;
	list-style: upper-roman;
	font-size: 13pt;
}

ul.links {
	list-style: square;
	line-height: 45px;
}

ul.links li a {
	color: darkblue;
	text-decoration: none;
	font-size: 18pt;
}

ol li {
	padding: 10px 0px;
}


/* Navigation -------------------------------- */

nav {
	width: 100%;
/*	background-color: #A9A9A9;*/
	background-image: linear-gradient(lightgrey, grey)

}

nav button {
	background-color: transparent;
	border: none;
	color: white;
	padding: 15px 32px;
	margin: 2px 2px;
	cursor: pointer;
	transition-duration: 0.5s;
}

nav button:hover {
/*	background-color: #0b8a41;*/
}

nav ul {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
/*	background-color: #A9A9A9;*/
}

nav ul li {
	font-family: 'Oswald', sans-serif;
	font-size: 15pt;
}

nav ul li a {
	display: block;
	color: White;
	font-weight: 600;
	padding: 8px 16px;
	text-decoration: none;
}

nav ul li.active {
	background-color: white;
}

nav ul li a.activeA {
	color: Black;
}

nav ul li:hover:not(.active) {
	background-color: #555;
	color: white;
}

nav ul.hide {
	display: none;
}

/* styling by class  -------------------------------------------------------------------  */

/* Preview Image And Overlay ----------------- */

.imlk {
	width: 100%;
}

.ils {
	display: grid;
	grid-column-gap: 10px;
	grid-template-columns: 1fr;
}

overimg {
	width: 100%;
}

.imlk {
	position: relative;
	width: 100%;
	margin: 5px;
}

.overimg {
	display: block;
	width: 100%;
	height: 100%;
}

.overlay {
	position: absolute;
	bottom: 0;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
	color: #f1f1f1;
	width: 100%;
	height: 100%;
	transition: .7s ease;
	opacity: 0;
	color: white;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}

.imlk:hover .overlay {
	opacity: 1;
}

/* Images in Articles ------------------------ */

figcaption {
	font-size: 10pt;
	font-weight: 600;
}

.right {
	width: 100%;
	float: right;
	margin: 5px 0px 20px 0px;
}

.righto {
	width: 100%;
	float: right;
	margin: 5px 0px 20px 0px;
	border: 1px solid Black;
}

.left {
	width: 100%;
	float: left;
	margin: 5px 0px 20px 0px;
}

.full {
	width: 100%;
	margin: 5px 0px 20px 0px;
}

.double {
	display: grid;
	grid-column-gap: 10px;
	grid-template-columns: 1fr;
	margin: 5px 0px 20px 0px;
}

.doubleright {
	display: grid;
	grid-column-gap: 10px;
	grid-template-columns: 1fr 1fr;
	margin: 5px 0px 20px 25px;
}

.double img {
	width: 100%;
	margin: 5px 0px 5px 0px;
}


.doubleright img {
	width: 100%;
	margin: 5px 0px 5px 0px;
}

.triple {
	display: grid;
	grid-column-gap: 10px;
	grid-template-columns: 1fr;
	margin: 5px 0px 20px 0px;
}

.triple img {
	width: 100%;
	margin: 5px 0px 5px 0px;
}



.quadruple {
	display: grid;
	grid-column-gap: 10px;
	grid-template-columns: 1fr 1fr;
	margin: 5px 0px 20px 0px;
}

.quadruple img {
	width: 100%;
	margin: 5px 0px 5px 0px;
}

.outline {
	border: 1px solid Black;
}

/*Slide Show ------------------------------- */

.mySlides {
	display: none;
	width: 100%;
}

.mySlides1 {
	display: none;
	width: 100%;
}

.mySlides2 {
	display: none;
	width: 100%;
}

.mySlides3 {
	display: none;
	width: 100%;
}

.w3-content {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 980px;
}

w3-button { 
	border: none;
	display: inline-block;
	padding: 16px 32px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: White;
	background-color: Black;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
}

.w3-button:hover { 
	color: #000!important;
	background-color: #ccc!important;
}

/*
.w3-button:hover {
	color: #fff!important;
	background-color: #000!important;
}
*/

.w3-display-left {
	border: 0;
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translate(0%,-50%);
	-ms-transform: translate(-0%,-50%);
	
	border: none;
	display: inline-block;
	padding: 16px 32px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: White;
	background-color: Black;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
}

.w3-display-right {
	border: 0;
	position: absolute;
	top: 50%;
	right: 0%;
	transform: translate(0%,-50%);
	-ms-transform: translate(0%,-50%);
	
	border: none;
	display: inline-block;
	padding: 16px 32px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: White;
	background-color: Black;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
}


/* Other Classes ----------------------------- */

.thin {
	max-width: 900px;
	margin: 25px auto 100px auto;
}

.small {
	max-width: 500px;
	margin: auto;
}

.centered {
	text-align: center;
}


/* styling by id  ------------------------------------------------------------------- */



/* medium  ----------------------------------------------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 37.5em) {

	nav button {
		display: none;
	}

	nav ul {
		width: auto;
		overflow: hidden;
/*		background-color: darkgrey;*/
		flex-direction: row;
		justify-content: space-around;
	}

	nav ul.hide {
		display: flex;
	}

	nav ul li {}
	nav ul li a {}


	/*	styling by class*  ------------------------------------------------------------ */
	.ils {
		grid-template-columns: 1fr 1fr;
	}

	.double {
		grid-template-columns: 1fr 1fr;
	}
	
	.doubleright {
	width: 50%;
	float: right;
}

	.triple {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.quadruple {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}


	.left {
		width: 50%;
		margin: 5px 20px 20px 0px;
	}

	.right {
		width: 50%;
		margin: 5px 0px 20px 20px;
	}
	
	.righto {
		width: 50%;
		margin: 5px 0px 20px 20px;
	}
	
	.centered {
	margin: 0px 65px;
}

}

/* large  ------------------------------------------------------------------------------------------------------------------------------------ */

@media only screen and (min-width: 64em) {

	/*	Main ----------------------------------- */
	main {
		width: 70%;
	}

	/*	Navigation ----------------------------- */
	nav ul {
		justify-content: center;
	}

	nav ul li {
		margin: 0% 2%;
	}

	/*	Styling by class  ------------------------------------------------------------- */
	.ils {
		grid-template-columns: 1fr 1fr 1fr;
	}

}
